/* Left sidebar with less right padding */
.fh-sidebar .md-sidebar__scrollwrap {
    padding-right: 10px;

    .md-sidebar__inner {
        padding-right: 0;
    }
}

.md-typeset .fh-version-tag {
    user-select: none;
}

/* Made the ¶ symbol not take any space */
[dir="ltr"] .md-typeset {
    h1, h2, h3, h4, h5 {
        .headerlink {
            width: 0;
            margin: 0;
        }

        .fh-version-tag {
          position: absolute;
        }
    }
}

[dir="ltr"] .md-typeset {
    h1, h2, h3, h4, h5 {
        .headerlink::before {
            content: "";
            margin-left: .5rem;
        }
    }
}

/* Pro mode tag */
.md-typeset .fh-version-tag.hr-pro-mode {
    background-color: #D4AF5A;
}

/* Lite mode tag */
.md-typeset .fh-version-tag.hr-lite-mode {
    background-color: #B8C0CC;
}

/* Reusable styles */
.no-margin {
    margin: 0 !important;
}

.margin-right-s {
    margin-right: 5px !important;
}